<% content_for :header do %>
<h1>Amusing Css</h1>
<% end %>
<h3 style="font-size: 50px; margin-top: 100px;">
  http://amusing-css.herokuapp.com/
</h3>
<p style="margin-right: 20px; margin-top: 100px;">
  Strona powstała na potrzeby szkolenia <a href='https://www.facebook.com/events/162807877188873/' target="_blank">Amusing Workshop #3</a> prowadzonego przez <a href="https://www.facebook.com/basiamadej" target="_blank">Basię</a> z <a href="http://webmus.es" target="_blank">Webmuses</a>.
</p>
