<% content_for :header do %>
  <h1>Lekcje</h1>
<% end %>
<br/>
<ul style="float: left">
<% @lessons.each do |lesson| %>
    <li style="padding: 10px"><%= link_to lesson.title, lesson %></li>
<% end %>
</ul>
<div style="float: left">
  <%= image_tag("/assets/muse.png", class: "big-muse") %>
</div>
<div style="float: left">
  <%= image_tag("/assets/muse.png", class: "big-muse") %>
</div>
<div class="clear"></div>
