<% content_for :header do %>
  <h1>Lekcje</h1>
<% end %>
<br/>
<ul class="left">
<% @lessons.each do |lesson| %>
    <li style="padding: 10px"><%= link_to lesson.title, lesson %></li>
<% end %>
</ul>
<div class="right">
  <%= image_tag("/assets/grumpy_cat.png", class: "") %>
</div>
<div class="right">
  <%= image_tag("/assets/code.png", class: "margin-top60") %>
</div>
<div class="clear"></div>
