<% content_for :header do %>
  <h1>Lekcje</h1>
<% end %>
<br/>
<ul class="left">
<% @lessons.each do |lesson| %>
    <li style="padding: 10px"><%= link_to lesson.title, lesson %></li>
<% end %>
</ul>
<%= image_tag("grumpy_cat.png", class: "right") %>
<%= image_tag("code.png", class: "margin-top60 right") %>
<%= image_tag("piggy_full.png", class: "right") %>
<div class="clear"></div>
